@import url('https://fonts.googleapis.com/css?family=Montserrat|Muli');

h1 {
	font-family: 'Montserrat', sans-serif;
	color: #610533;
	text-align: center;

}


.opening {
	background-color: #000000;
	font-size: 30px;
	padding: 10px;
}

.opening img {
	max-width: 100%
}

.main-content {
	padding: 20px 40px;
	font-family: 'Montserrat', sans-serif;
	color: #610533;
	font-size: 15px;
	background-color: #6FB595;
	text-align: justify;
	border-top: 5px solid #3D089F;
	border-bottom: 5px solid #3D089F;

}

.from-penny {
	padding: 20px 40px;
	font-family: 'Montserrat', sans-serif;
	color: #6FB595;
	font-size: 15px;
	background-color: #610533;
	text-align: justify;
	border-bottom: 5px solid #3D089F;

}

.code {
	padding: 20px 40px;
	font-family: 'Montserrat', sans-serif;
	color: #610533;
	font-size: 15px;
	background-color: #6FB595;
	text-align: justify;
	
}